.headline1{
    text-align: center;
    color: blue;
}
.headline2{
    text-align: center;
    color: blueviolet;
}

table{
    margin-left: auto;
    margin-right: auto;
    color: cadetblue;
}
body {
    background-image: url("wallpaperflare.com_wallpaper (1).jpg");
    background-size:cover;
  }